body {
    margin:0px;
}

#firstsection {
    height:40px;
    width:60%;
    margin-top:90px;
}

.label {
    margin-left:200px;
}

.sections {
    height:40px;
    width:100%;
    margin-top:0px;
}

#button {
    margin-left:200px;
    background:transparent;
    width:115px;
    height:44px;
}

#button2 {

    margin-left:90px;
    background:transparent;
    width:145px;
    height:44px;

}

#pid {
    width:200px;
}

#pname {
    width:200px;
}

#pprice {
    width:200px;
}


