body {
    margin:0px;
}


#firstsection {
    width:100%;
    /* margin-left:435px;  */
    margin-top:130px;
}

input:focus {
    background-color: yellow;
  }

#buttonx {
    width:100px;
    height:30px;
}

#buttono {
    width:100px;
    height:30px;
}

#para {
    /* text-align: center; */
    margin-left: 0px;
}

#secondsection {
    width:100%;
    /* margin-left:488px; */
    
}

#tableofsquares {
    background-color: black;
    border:1px solid white;
}

.squares {
    background-color:white;
    width: 30px;
    height:30px;
    text-align:center;
}

#thirdsection {
    width:100%;
    /* margin-left:491px; */
    margin-top:20px;
}

#reset {
    width:100px;
    height:30px;
}

#restart {
    width:100px;
    height:30px;
}

